/*PCサイト*/
@media only screen and (min-width: 768px) {

	/*20220923 kanai-mod-s*/
	/*リンク付き画像に一律hover、zoomエフェクト-ｓ*/
	a {
		transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
	}

	a:hover {
		opacity: 0.8;
	}

	a img,
	a svg,
	.sns li div img {
		transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
	}

	a:hover img,
	a:hover svg,
	a.selected img,
	.sns li div:hover img {
		transform: scale(1.02);
	}

	/*ヘッダーロゴzoom調整*/
	.header a:hover img {
		transform: scale(1.05);
	}

	/*ニュース記事zoom調整*/
	.news li div {
		overflow: hidden;
	}

	/*トップページ店内写真zoom調整*/
	.shop-photo li {
		overflow: hidden;
	}

	/*リンク付き画像に一律hover、zoomエフェクト-e*/
	/*20220923 kanai-mod-e*/
	.sp {
		display: none !important;
	}

	.display_none {
		display: none !important;
	}

	/*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★--共通                                                    ★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★*/
	/*============================
#breadcrumbs
============================*/
	div#breadcrumbs {
		width: 1062px;
		margin: auto;
		position: absolute;
		left: 0;
		right: 0;
		top: 78px;
		z-index: 1;
	}

	div#breadcrumbs ol {
		display: inline-block;
	}

	div#breadcrumbs ol li {
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
		padding-top: 1px;
		color: #000;
		letter-spacing: 0.1em;
	}

	div#breadcrumbs ol li:after {
		content: '>';
		font-size: 12px;
		padding: 4px 4px 0;
		display: inline-block;
		vertical-align: top;
	}

	div#breadcrumbs ol li:last-of-type:after {
		content: '';
	}

	div#breadcrumbs ol li a {
		color: #000;
	}

	div#breadcrumbs ol li:last-of-type a span {
		text-decoration: none;
	}

	div#breadcrumbs ol li a span {
		font-size: 12px;
		display: inline-block;
		vertical-align: middle;
		padding-top: 1px;
		text-decoration: underline;
		font-weight: 300;
		font-style: normal;
		white-space: nowrap;
		letter-spacing: 0.1em;
	}

	/* =========================================================
wraper
========================================================= */
	div.wraper {
		padding-top: 72px;
		padding-top: 85px;
		overflow-x: hidden;
		position: relative;
		z-index: 0;
		transform: translateX(0);
		transition: transform 0.3s ease-out;
		overflow: hidden;
	}

	#open {
		display: none;
	}

	.main-nav.open {
		transform: translateX(calc(100% - 385px));
	}

	/*============================
#drawer_gray_out
============================*/
	#drawer_gray_out {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		z-index: 1;
		cursor: pointer;
		display: none;
		opacity: 0.75;
	}

	/* =========================================================
sp-menu-btn
========================================================= */
	#sp-menu-btn {
		position: absolute;
		width: 39px;
		height: 40px;
		cursor: pointer;
		z-index: 2;
		padding: 0;
		right: 15px;
		top: calc(50% - 10px);
	}

	#sp-menu-btn span {
		display: block;
		position: absolute;
		height: 1px;
		width: 100%;
		left: 0;
		-webkit-transition: .35s ease-in-out;
		-moz-transition: .35s ease-in-out;
		transition: .35s ease-in-out;
	}

	#sp-menu-btn span:nth-child(1) {
		top: 0;
	}

	#sp-menu-btn span:nth-child(2) {
		top: 10px;
	}

	#sp-menu-btn span:nth-child(3) {
		top: 20px;
	}

	#sp-menu-btn p {
		font-size: 10px;
		font-weight: bold;
		text-align: center;
		color: #000;
		padding-top: 23px;
		margin-top: 16px;
	}

	/* #sp-menu-btn 切り替えアニメーション */
	#sp-menu-btn.open span:nth-child(1) {
		top: 11px;
		-webkit-transform: rotate(315deg);
		-moz-transform: rotate(315deg);
		transform: rotate(315deg);
	}

	#sp-menu-btn.open span:nth-child(2) {
		width: 0;
		left: 50%;
	}

	#sp-menu-btn.open span:nth-child(3) {
		top: 11px;
		-webkit-transform: rotate(-315deg);
		-moz-transform: rotate(-315deg);
		transform: rotate(-315deg);
	}

	/* =========================================================
header.header
========================================================= */
	header.header {
		width: 100%;
		margin: 0 auto;
		z-index: 2;
		position: fixed;
		top: 0;
		transition: transform 0.3s ease-out;
		text-align: center;
		border-bottom-width: 1px;
		border-style: solid;
	}

	header.header div.header__inner {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 72px;
	}

	header.header div.header__inner div.header__inner-center {}

	/*20220923 kanai-mod-s*/
	header.header div.header__inner-center a {
		display: inline-block;
		overflow: visible;
	}

	/*20220923 kanai-mod-e*/

	header.header div.header__inner-center a img {}

	header.header div.header__inner-center a span {
		font-weight: 400;
		font-size: 18px;
		color: #fff;
		display: inline-block;
		vertical-align: top;
		margin-top: 2px;
	}

	/* =========================================================
section.map
========================================================= */
	/* section.map {
		margin-top: 180px;
	} */

	section.map .map__inner {}

	section.map .map__inner iframe {
		width: 100%;
		/*20220917 kanai- mod-s*/
		height: clamp(500px, 39.1vw, 700px);
		/*20220917 kanai- mod-e*/
	}

	/* =========================================================
div#group_store_list
========================================================= */
	div.group_store_list {
		width: 1062px;
		margin: 45px auto;
		text-align: center;
	}

	div.group_store_list h3 {
		display: inline-block;
	}

	div.group_store_list h3 a {
		display: block;
		font-size: 18px;
		height: 21px;
	}

	div.group_store_list h3 a img {
		display: block;
		width: 90px;
	}

	div.group_store_list ul {
		margin: 30px auto;
		max-width: 100%;
	}

	div.group_store_list ul li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 15px;
		margin-bottom: 30px;
		font-size: 14px;
		line-height: 1.4;
	}

	div.group_store_list ul li a {
		display: block;
	}

	div.group_store_list ul li a img {
		width: 70px;
	}

	div.group_store_list ul div.area_container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	div.group_store_list ul div.area_container p {
		margin: 15px 20px;
		font-size: 16px;
	}

	div.group_store_list ul div.area_container li {
		margin: 5px 20px;
	}

	div.group_store_list ul div.area_container li a,
	div.group_store_list ul div.area_container li a p {
		margin: 0;
		font-size: 14px;
	}

	/* =========================================================
span#page_top
========================================================= */
	span#page_top {
		width: 64px;
		height: 64px;
		position: fixed;
		bottom: 143px;
		right: 30px;
		border-radius: 15px;
		cursor: pointer;
		transition: opacity 0.5s ease-out;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
	}

	span#page_top.show {
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
	}

	span#page_top svg {}

	/* =========================================================
div#sns-modal-window
========================================================= */
	div#sns-modal-window {
		background-color: rgba(0, 0, 0, 0.75);
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 999;
		transition: opacity 0.5s ease-out;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}

	div#sns-modal-window.show {
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
		cursor: pointer;
	}

	/*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★--pop start                                               ★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★*/
	/*============================
.main_nav--pop
============================*/
	nav.main-nav {
		width: 100%;
		height: calc(100% + 250px);
		overflow-y: scroll;
		position: fixed;
		top: -250px;
		transform: translateX(100%);
		z-index: 2;
		-webkit-overflow-scrolling: touch;
		transition: transform 0.3s ease-in-out;
		padding-top: 322px;
	}

	nav.main-nav div.main-nav__inner--pop {
		width: 385px;
	}

	nav.main-nav div.main-nav__inner--pop ul.main-nav__list--pop {
		border-top-width: 1px;
		border-style: solid;
		border-bottom-width: 1px;
		padding: 25px 25px 25px 0px;
	}

	nav.main-nav div.main-nav__inner--pop ul.main-nav__list--pop li.main-nav__list-item--pop {
		width: 364px;
		height: 57px;
	}

	nav.main-nav div.main-nav__inner--pop ul.main-nav__list--pop li.main-nav__list-item--pop svg {
		margin-right: 15px;
	}

	nav.main-nav div.main-nav__inner--pop ul.main-nav__list--pop li.main-nav__list-item--pop.main_nav_active {
		border-radius: 0 20px 20px 0;
	}

	nav.main-nav div.main-nav__inner--pop ul.main-nav__list--pop li.main-nav__list-item--pop a {
		width: 364px;
		height: 57px;
		display: flex;
		padding-left: 25px;
		align-items: center;
	}

	nav.main-nav div.main-nav__inner--pop ul.main-nav__list--pop li.main-nav__list-item--pop h2.main-nav__list-title-en--pop {
		font-size: 20px;
		width: 180px;
		display: inline-block;
		letter-spacing: 0.05em;
	}

	nav.main-nav div.main-nav__inner--pop ul.main-nav__list--pop li.main-nav__list-item--pop h3.main-nav__list-title-jp--pop {
		font-size: 10px;
		width: 170px;
		display: inline-block;
		padding-top: 1px;
	}

	nav.main-nav div.main-nav__inner--pop ul.main-nav__address--pop {
		width: 336.4px;
		margin: 0 auto;
		margin-top: 44px;
		display: grid;
		row-gap: 0px;
		column-gap: 10px;
		grid-template-columns: repeat(2, 168.4px);
	}

	nav.main-nav div.main-nav__inner--pop ul.main-nav__address--pop li.main-nav__address-item--pop {
		height: 46px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	/*20220923 kanai-add-s*/
	nav.main-nav div.main-nav__inner--pop ul.main-nav__address--pop li.main-nav__address-item--pop a {
		overflow: visible;
	}

	/*20220923 kanai-add-e*/
	nav.main-nav div.main-nav__inner--pop ul.main-nav__address--pop li.main-nav__address-item--pop div.wrap {
		display: flex;
		/*kanai-add-s*/
		align-items: center;
		/*kanai-add-e*/
	}

	nav.main-nav div.main-nav__inner--pop ul.main-nav__address--pop li.main-nav__address-item--pop div.wrap svg {
		width: 19px;
		margin-right: 6px;
	}

	nav.main-nav div.main-nav__inner--pop ul.main-nav__address--pop li.main-nav__address-item--pop div.wrap h4 {
		font-size: 20px;
		/*kanai-mod-s*/
		padding-bottom: 1px;
		/*kanai-mod-e*/
	}

	nav.main-nav div.main-nav__inner--pop ul.main-nav__sns {
		text-align: center;
		margin-top: 30px;
	}

	nav.main-nav div.main-nav__inner--pop ul.main-nav__sns li.main-nav__sns-item--pop {
		display: inline-block;
		vertical-align: middle;
		margin: 0 13px;
		width: 25px;
	}

	nav.main-nav div.main-nav__inner--pop ul.main-nav__sns li.main-nav__sns-item--pop a {}

	/* =========================================================
footer.footer--pop
========================================================= */
	footer.footer {}

	footer.footer div.footer__inner--pop {
		width: 1062px;
		margin: 0 auto;
		text-align: center;
		padding: 35px 0 85px;
	}

	footer.footer div.footer__inner--pop ul.footer-nav__list--pop {
		display: inline-block;
	}

	/*20220917 kanai-add-s*/
	footer.footer div.footer__inner--pop ul.footer-nav__list--pop li.footer-nav__list-item--pop {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		border-color: inherit;
	}

	footer.footer div.footer__inner--pop ul.footer-nav__list--pop li.footer-nav__list-item--pop a {
		display: inline-block;
		vertical-align: top;
		font-size: 11px;
		padding: 0 15px 3px 12px;
		border-right-width: 1px;
		border-style: solid;
		border-color: inherit;
	}

	/*20220917 kanai-add-e*/
	footer.footer div.footer__inner--pop ul.footer-nav__list--pop li.footer-nav__list-item--pop:last-child a {
		border-right: none;
	}

	footer.footer div.footer__inner--pop ul.footer-nav__list--pop {}

	footer.footer div.footer__inner--pop ul.footer-nav__list--pop li.footer-nav__list-item--pop {}

	footer.footer div.footer__inner--pop ul.footer-nav__list--pop li.footer-nav__list-item--pop a {}

	footer.footer div.footer__inner--pop div.footer__inner-logo--pop {
		display: block;
		margin: 0 auto;
		margin-top: 40px;
	}

	footer.footer div.footer__inner--pop div.footer__inner-logo--pop h2 {}

	footer.footer div.footer__inner--pop div.footer__inner-logo--pop h2 a {}

	footer.footer div.footer__inner--pop div.footer__inner-logo--pop h2 a img {}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop {
		width: 480px;
		margin: 0 auto;
		overflow: hidden;
		margin-top: 30px;
	}

	/*20221003 kanai-mod-s*/
	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop div.footer__tel--pop {
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;
		margin-top: 3px;
		margin-right: 17px;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop div.footer__tel--pop a {
		display: inline-block;
		vertical-align: top;
		font-size: 0;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop div.footer__tel--pop a div.footer__tel-icon--pop {
		width: 17.5px;
		height: 26.1px;
		border-radius: 50%;
		display: inline-block;
		vertical-align: top;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop div.footer__tel--pop a div.footer__tel-icon--pop svg {
		width: 17.5px;
		height: 26.1px;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop div.footer__tel--pop a address {
		display: inline-block;
		vertical-align: top;
		font-size: 36px;
		margin-left: 6px;
		height: 36px;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop ul.footer__sns-list {
		display: inline-block;
		vertical-align: middle;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop ul.footer__sns-list li.footer__sns-list-item--pop {
		display: inline-block;
		vertical-align: middle;
		width: 38px;
		height: 38px;
	}

	/*20221003 kanai-mod-e*/
	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop ul.footer__sns-list li.footer__sns-list-item--pop a.footer__sns-list-item-link--pop {
		height: 38px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop ul.footer__sns-list li.footer__sns-list-item--pop a.footer__sns-list-item-link--pop i {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop ul.footer__sns-list li.footer__sns-list-item--pop a.footer__sns-list-item-link--pop i.footer__sns-list-item-instagram-icon--pop svg {
		width: 27.7px;
		height: 25.2px;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop ul.footer__sns-list li.footer__sns-list-item--pop a.footer__sns-list-item-link--pop i.footer__sns-list-item-youtube-icon--pop svg {
		width: 24.5px;
		height: 17.2px;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop ul.footer__sns-list li.footer__sns-list-item--pop a.footer__sns-list-item-link--pop i.footer__sns-list-item-twitter-icon--pop svg {
		width: 26.6px;
		height: 21.6px;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop ul.footer__sns-list li.footer__sns-list-item--pop a.footer__sns-list-item-link--pop i.footer__sns-list-item-tiktok-icon--pop svg {
		width: 22.3px;
		height: 26.1px;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop address.footer__location {
		clear: both;
		padding-top: 14px;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop div.footer__business-hours {
		margin-top: 10px;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop div.footer__business-hours dl.footer__business-hours-open-time {
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop div.footer__business-hours dl.footer__business-hours-open-time dt {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop div.footer__business-hours dl.footer__business-hours-open-time dd {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop div.footer__business-hours dl.footer__business-hours-store-holiday {
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop div.footer__business-hours dl.footer__business-hours-store-holiday dt {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
	}

	footer.footer div.footer__inner--pop div.footer__inner-wrap--pop div.footer__business-hours dl.footer__business-hours-store-holiday dd {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
	}

	footer.footer div.footer__inner--pop p {
		margin-top: 27px;
	}

	footer.footer div.footer__inner--pop p small {
		font-size: 11px;
		display: block;
		padding-bottom: 1.5px;
	}

	/*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★--stylish start                                           ★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★*/
	/*============================
.main_nav--stylish
============================*/
	nav.main-nav {
		width: 100%;
		height: calc(100% + 250px);
		overflow-y: scroll;
		position: fixed;
		top: -250px;
		transform: translateX(100%);
		z-index: 2;
		-webkit-overflow-scrolling: touch;
		transition: transform 0.3s ease-in-out;
		padding-top: 322px;
	}

	nav.main-nav div.main-nav__inner--stylish {
		width: 385px;
	}

	nav.main-nav {}

	nav.main-nav div.main-nav__inner--stylish {
		padding-left: 18px;
		padding-right: 20px;
		margin-top: 18px;
	}

	nav.main-nav div.main-nav__inner--stylish ul.main-nav__list--stylish {}

	nav.main-nav div.main-nav__inner--stylish ul.main-nav__list--stylish li.main-nav__list-item--stylish {
		width: 347px;
		height: 58px;
		display: flex;
		padding: 0 25px;
		align-items: center;
		border-bottom-width: 1px;
		border-style: solid;
	}

	nav.main-nav div.main-nav__inner--stylish ul.main-nav__list--stylish li.main-nav__list-item--stylish a {
		width: 364px;
		height: 57px;
		display: flex;
		align-items: center;
	}

	nav.main-nav div.main-nav__inner--stylish ul.main-nav__list--stylish li.main-nav__list-item--stylish svg {
		display: none;
	}

	nav.main-nav div.main-nav__inner--stylish ul.main-nav__list--stylish li.main-nav__list-item--stylish.main_nav_active {}

	nav.main-nav div.main-nav__inner--stylish ul.main-nav__list--stylish li.main-nav__list-item--stylish h2.main-nav__list-title-en--stylish {
		font-size: 20px;
		width: 292px;
		letter-spacing: 0.05em;
		padding-top: 3px;
	}

	nav.main-nav div.main-nav__inner--stylish ul.main-nav__list--stylish li.main-nav__list-item--stylish h3.main-nav__list-title-jp--stylish {
		font-size: 11px;
		width: 123px;
		text-align: right;
	}

	nav.main-nav div.main-nav__inner--stylish ul.main-nav__address--stylish {
		width: 347px;
		margin: 0 auto;
		margin-top: 64px;
	}

	nav.main-nav div.main-nav__inner--stylish ul.main-nav__address--stylish li.main-nav__address-item--stylish {
		height: 56px;
		margin-bottom: 18px;
		border-width: 1px;
		border-style: solid;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	/*20220923 kanai-add-s*/
	nav.main-nav div.main-nav__inner--stylish ul.main-nav__address--stylish li.main-nav__address-item--stylish a {
		overflow: visible;
	}

	/*20220923 kanai-add-e*/
	nav.main-nav div.main-nav__inner--stylish ul.main-nav__address--stylish li.main-nav__address-item--stylish div.wrap {
		display: flex;
	}

	nav.main-nav div.main-nav__inner--stylish ul.main-nav__address--stylish li.main-nav__address-item--stylish div.wrap svg {
		width: 19px;
		margin-right: 15px;
	}

	nav.main-nav div.main-nav__inner--stylish ul.main-nav__address--stylish li.main-nav__address-item--stylish div.wrap h4 {
		font-size: 20px;
		letter-spacing: 0.05em;
		/*kanai-mod-s*/
		padding-top: 1px;
		/*kanai-mod-e*/
	}

	nav.main-nav div.main-nav__inner--stylish ul.main-nav__sns {
		text-align: center;
		margin-top: 30px;
	}

	nav.main-nav div.main-nav__inner--stylish ul.main-nav__sns li.main-nav__sns-item--stylish {
		display: inline-block;
		vertical-align: middle;
		margin: 0 13px;
		width: 25px;
	}

	nav.main-nav div.main-nav__inner--stylish ul.main-nav__sns li.main-nav__sns-item--stylish a {}

	/* =========================================================
footer.footer--stylish
========================================================= */
	footer.footer {}

	footer.footer div.footer__inner--stylish {
		width: 1062px;
		margin: 0 auto;
		text-align: center;
		padding: 56px 0 85px;
	}

	footer.footer div.footer__inner--stylish ul.footer-nav__list--pop {}

	footer.footer div.footer__inner--stylish ul.footer-nav__list--pop li.footer-nav__list-item--pop {}

	footer.footer div.footer__inner--stylish ul.footer-nav__list--pop li.footer-nav__list-item--pop a {}

	footer.footer div.footer__inner--stylish div.footer__inner-logo--stylish {
		display: inline-block;
	}

	footer.footer div.footer__inner--stylish div.footer__inner-logo--stylish h2 {}

	footer.footer div.footer__inner--stylish div.footer__inner-logo--stylish h2 a {}

	footer.footer div.footer__inner--stylish div.footer__inner-logo--stylish h2 a img {}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish {}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish div.footer__tel--stylish {
		overflow: hidden;
	}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish div.footer__tel--stylish a {
		margin-top: 37px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish div.footer__tel--stylish a div.footer__tel-icon--stylish {
		display: inline-block;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		padding: 0;
		position: relative;
	}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish div.footer__tel--stylish a div.footer__tel-icon--stylish svg {
		position: absolute;
		top: 10px;
		right: 15px;
	}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish div.footer__tel--stylish a address {
		display: inline-block;
		vertical-align: top;
		font-size: 52px;
	}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish address.footer__location {
		margin-top: 15px;
	}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish div.footer__business-hours {
		margin-top: 11px;
	}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish div.footer__business-hours dl.footer__business-hours-open-time {
		display: inline-block;
		/*20221003 kanai-mod-s*/
		vertical-align: middle;
		/*20221003 kanai-mod-e*/
		font-size: 0;
	}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish div.footer__business-hours dl.footer__business-hours-open-time dt {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
	}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish div.footer__business-hours dl.footer__business-hours-open-time dd {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
	}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish div.footer__business-hours dl.footer__business-hours-store-holiday {
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
	}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish div.footer__business-hours dl.footer__business-hours-store-holiday dt {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
	}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish div.footer__business-hours dl.footer__business-hours-store-holiday dd {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
	}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish ul.footer__sns-list {
		width: 171px;
		margin: 0 auto;
		display: flex;
		row-gap: 0px;
		column-gap: 6px;
		justify-content: center;
		align-items: center;
		margin-top: 33px;
	}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish ul.footer__sns-list li.footer__sns-list-item--stylish {
		height: 38px;
		width: 38px;
	}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish ul.footer__sns-list li.footer__sns-list-item--stylish a.footer__sns-list-item-link--stylish {
		height: 38px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish ul.footer__sns-list li.footer__sns-list-item--stylish a.footer__sns-list-item-link--stylish i.footer__sns-list-item-instagram-icon--stylish {}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish ul.footer__sns-list li.footer__sns-list-item--stylish a.footer__sns-list-item-link--stylish i.footer__sns-list-item-youtube-icon--stylish {}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish ul.footer__sns-list li.footer__sns-list-item--stylish a.footer__sns-list-item-link--stylish i.footer__sns-list-item-twitter-icon--stylish {}

	footer.footer div.footer__inner--stylish div.footer__inner-wrap--stylish ul.footer__sns-list li.footer__sns-list-item--stylish a.footer__sns-list-item-link--stylish i.footer__sns-list-item-tiktok-icon--stylish {}

	footer.footer div.footer__inner--stylish ul.footer-nav__list--stylish {
		display: inline-block;
		margin-top: 27px;
	}

	/*20220917 kanai-add-s*/
	footer.footer div.footer__inner--stylish ul.footer-nav__list--stylish li.footer-nav__list-item--stylish {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		border-color: inherit;
	}

	footer.footer div.footer__inner--stylish ul.footer-nav__list--stylish li.footer-nav__list-item--stylish a {
		display: inline-block;
		vertical-align: top;
		font-size: 11px;
		padding: 0 15px 1.5px 12px;
		border-right-width: 1px;
		border-style: solid;
		border-color: inherit;
	}

	/*20220917 kanai-add-e*/
	footer.footer div.footer__inner--stylish ul.footer-nav__list--stylish li.footer-nav__list-item--stylish:last-child a {
		border-right: none;
	}

	footer.footer div.footer__inner--stylish p {
		margin-top: 18px;
	}

	footer.footer div.footer__inner--stylish p small {
		font-size: 11px;
		display: block;
	}

	/*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★--luxury start                                           ★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★*/
	/*============================
.main_nav--luxury
============================*/
	nav.main-nav {
		width: 100%;
		height: calc(100% + 250px);
		overflow-y: scroll;
		position: fixed;
		top: -250px;
		transform: translateX(100%);
		z-index: 2;
		-webkit-overflow-scrolling: touch;
		transition: transform 0.3s ease-in-out;
		padding-top: 322px;
	}

	nav.main-nav div.main-nav__inner--luxury {
		width: 385px;
	}

	nav.main-nav {}

	nav.main-nav div.main-nav__inner--luxury {
		padding-left: 18px;
		padding-right: 20px;
		margin-top: 33px;
	}

	nav.main-nav div.main-nav__inner--luxury ul.main-nav__list--luxury {}

	nav.main-nav div.main-nav__inner--luxury ul.main-nav__list--luxury li.main-nav__list-item--luxury {
		height: 58px;
		padding: 0 25px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	nav.main-nav div.main-nav__inner--luxury ul.main-nav__list--luxury li.main-nav__list-item--luxury a {
		height: 41px;
		padding-top: 8px;
	}

	nav.main-nav div.main-nav__inner--luxury ul.main-nav__list--luxury li.main-nav__list-item--luxury svg {
		display: none;
	}

	nav.main-nav div.main-nav__inner--luxury ul.main-nav__list--luxury li.main-nav__list-item--luxury.main_nav_active {}

	nav.main-nav div.main-nav__inner--luxury ul.main-nav__list--luxury li.main-nav__list-item--luxury h2.main-nav__list-title-en--luxury {
		display: inline-block;
		font-size: 18px;
		letter-spacing: 0.05em;
		padding-top: 3px;
		position: relative;
	}

	nav.main-nav div.main-nav__inner--luxury ul.main-nav__list--luxury li.main-nav__list-item--luxury h2.main-nav__list-title-en--luxury::after {
		content: "\0020";
		position: absolute;
		width: 30px;
		height: 3px;
		bottom: -10px;
		right: 0;
		left: 0;
		margin: auto;
	}

	nav.main-nav div.main-nav__inner--luxury ul.main-nav__list--luxury li.main-nav__list-item--luxury h3.main-nav__list-title-jp--luxury {
		display: none;
	}

	nav.main-nav div.main-nav__inner--luxury ul.main-nav__address--luxury {
		width: 220px;
		margin: 0 auto;
		margin-top: 34px;
	}

	nav.main-nav div.main-nav__inner--luxury ul.main-nav__address--luxury li.main-nav__address-item--luxury {
		height: 46px;
		margin-bottom: 25px;
		border-radius: 20px;
		border-width: 1px;
		border-style: solid;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	/*20220923 kanai-add-s*/
	nav.main-nav div.main-nav__inner--luxury ul.main-nav__address--luxury li.main-nav__address-item--luxury a {
		overflow: visible;
	}

	/*20220923 kanai-add-e*/
	nav.main-nav div.main-nav__inner--luxury ul.main-nav__address--luxury li.main-nav__address-item--luxury div.wrap {
		display: flex;
	}

	nav.main-nav div.main-nav__inner--luxury ul.main-nav__address--luxury li.main-nav__address-item--luxury div.wrap svg {
		width: 19px;
		margin-right: 7px;
	}

	nav.main-nav div.main-nav__inner--luxury ul.main-nav__address--luxury li.main-nav__address-item--luxury div.wrap h4 {
		font-size: 20px;
		letter-spacing: 0.05em;
		padding-top: 2px;
		font-weight: 600;
	}

	nav.main-nav div.main-nav__inner--luxury ul.main-nav__sns {
		text-align: center;
		margin-top: 54px;
	}

	nav.main-nav div.main-nav__inner--luxury ul.main-nav__sns li.main-nav__sns-item--luxury {
		display: inline-block;
		vertical-align: middle;
		margin: 0 13px;
		width: 25px;
	}

	nav.main-nav div.main-nav__inner--luxury ul.main-nav__sns li.main-nav__sns-item--luxury a {}

	/* =========================================================
footer.footer--luxury
========================================================= */
	footer.footer {}

	footer.footer div.footer__inner--luxury {
		width: 1062px;
		margin: 0 auto;
		padding: 60px 0 85px;
		text-align: center;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-logo--luxury {
		display: inline-block;
		vertical-align: top;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-logo--luxury h2 {}

	footer.footer div.footer__inner--luxury div.footer__inner-logo--luxury h2 a {}

	footer.footer div.footer__inner--luxury div.footer__inner-logo--luxury h2 a img {}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury {
		display: inline-block;
		vertical-align: top;
		margin-left: 57px;
		text-align: left;
		margin-top: -4px;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury div.footer__tel--luxury {
		overflow: hidden;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury div.footer__tel--luxury a {
		display: inline-block;
		overflow: hidden;
		font-size: 0;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury div.footer__tel--luxury a div.footer__tel-icon--luxury {
		display: inline-block;
		vertical-align: top;
		width: 26.5px;
		height: 36.5px;
		padding-top: 3px;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury div.footer__tel--luxury a div.footer__tel-icon--luxury svg {
		width: 26.5px;
		height: 36.5px;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury div.footer__tel--luxury a address {
		display: inline-block;
		vertical-align: top;
		width: 402px;
		font-size: 52px;
		margin-left: 7px;
		margin-top: -2px;
		padding-top: 2px;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury address.footer__location {
		font-size: 14px;
		margin-top: 12px;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury div.footer__business-hours {
		margin-top: 9px;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury div.footer__business-hours dl.footer__business-hours-open-time {
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury div.footer__business-hours dl.footer__business-hours-open-time dt {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury div.footer__business-hours dl.footer__business-hours-open-time dd {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury div.footer__business-hours dl.footer__business-hours-store-holiday {
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury div.footer__business-hours dl.footer__business-hours-store-holiday dt {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury div.footer__business-hours dl.footer__business-hours-store-holiday dd {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury ul.footer__sns-list {
		width: 171px;
		display: grid;
		row-gap: 0px;
		column-gap: 6px;
		grid-template-columns: repeat(4, 38px);
		margin-top: 22px;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury ul.footer__sns-list li.footer__sns-list-item--luxury {
		height: 39px;
		color: white;
		border-width: 1px;
		border-style: solid;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury ul.footer__sns-list li.footer__sns-list-item--luxury a.footer__sns-list-item-link--luxury {
		height: 37px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury ul.footer__sns-list li.footer__sns-list-item--luxury a.footer__sns-list-item-link--luxury i.footer__sns-list-item-instagram-icon--luxury {}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury ul.footer__sns-list li.footer__sns-list-item--luxury a.footer__sns-list-item-link--luxury i.footer__sns-list-item-youtube-icon--luxury {}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury ul.footer__sns-list li.footer__sns-list-item--luxury a.footer__sns-list-item-link--luxury i.footer__sns-list-item-twitter-icon--luxury {}

	footer.footer div.footer__inner--luxury div.footer__inner-wrap--luxury ul.footer__sns-list li.footer__sns-list-item--luxury a.footer__sns-list-item-link--luxury i.footer__sns-list-item-tiktok-icon--luxury {}

	footer.footer div.footer__inner--luxury ul.footer-nav__list--luxury {
		display: inline-block;
		margin-top: 34px;
	}

	/*20220917 kanai-add-s*/
	footer.footer div.footer__inner--luxury ul.footer-nav__list--luxury li.footer-nav__list-item--luxury {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		border-color: inherit;
	}

	footer.footer div.footer__inner--luxury ul.footer-nav__list--luxury li.footer-nav__list-item--luxury a {
		display: inline-block;
		vertical-align: top;
		font-size: 11px;
		padding: 0 15px 1.5px 12px;
		border-right-width: 1px;
		border-style: solid;
		border-color: inherit;
	}

	/*20220917 kanai-add-e*/
	footer.footer div.footer__inner--luxury ul.footer-nav__list--luxury li.footer-nav__list-item--luxury:last-of-type a {
		border-right: none;
	}

	footer.footer div.footer__inner--luxury p {
		margin-top: 18px;
	}

	footer.footer div.footer__inner--luxury p small {
		font-size: 11px;
		display: block;
	}

	/*20220930 kanai-add-s*/
	/* =========================================================
.spot-light モーダル
========================================================= */
	/*20220912kanai-add-s*/
	.spl-title {
		display: none;
	}

	/*20220930 kanai-add-e*/


}
