/*スマホ最適化*/
@media only screen and (max-width: 767.9px) {
/*kanai-mod-s*/
/*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★--pop start                                               ★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★*/
/* =========================================================
section.calendar--pop
========================================================= */
section.calendar div.calendar__inner--pop {
	width: 347px;
	margin: 40px auto 100px;
}
section.calendar div.calendar__inner--pop h2 {
    font-size: 32px;
    text-align: center;
    letter-spacing: -0.05em;
    white-space: nowrap;
}
section.calendar div.calendar__inner--pop > h3 {
    font-size: 12px;
    text-align: center;
    margin-top: 6px;
}
/*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★--stylish start                                           ★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★*/
/* =========================================================
section.calendar--stylish
========================================================= */
section.calendar div.calendar__inner--stylish {
	width: 347px;
    margin: 40px auto 100px;
}
section.calendar div.calendar__inner--stylish h2 {
	font-size: 32px;
	text-align: center;
	letter-spacing: -0.05em;
}
section.calendar div.calendar__inner--stylish > h3 {
    font-size: 12px;
    text-align: center;
    margin-top: 6px;
}
/*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★--luxury start                                           ★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★*/
/* =========================================================
section.calendar--luxury
========================================================= */
section.calendar div.calendar__inner--luxury {
	width: 347px;
    margin: 40px auto 100px;
}
section.calendar div.calendar__inner--luxury h2 {
	font-size: 32px;
	text-align: center;
	letter-spacing: -0.05em;
}
section.calendar div.calendar__inner--luxury > h3 {
    font-size: 12px;
    text-align: center;
    margin-top: 6px;
}
/*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★--共通 start                                              ★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★*/
.event_page_base {
    margin: 0 auto;
    width: 100%;
    padding-top: 25px;
}
/*20220917 kanai-mod-s*/
.event_page_base h3 {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.4;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 100;
    padding-bottom: 8px;
}
/*20220912kanai-mod-s*/
.event_page_base table.event_t {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    table-layout: fixed;
    margin-bottom: 3px;
}
.event_page_base table.event_t tbody {
    border-color: inherit;
}
.event_page_base table.event_t tr {
    width: 100%;
    border-color: inherit;
}
.event_page_base td.data {
    width: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    padding: 12px 0px;
}
.event_page_base td.naiyou {
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    padding: 16px 10px;
}
/*.event_page_base tr.sat {
    background: rgba(0,0,255,0.3);
}
.event_page_base tr.sun {
    background: rgba(255,0,0,0.3);
}
*
//*20220912kanai-mod-e*/
.event_back {
    width: 22%;
    text-align: center;
    float: left;
    /*padding-top: 17px;*/
    padding-bottom: 3px;
    background-color: transparent!important;
}
.event_next {
    width: 22%;
    text-align: center;
    float: right;
    /*padding-top: 17px;*/
    padding-bottom: 3px;
    background-color: transparent!important;
}
a.btn_event {
    box-sizing: border-box;
    font-size: 12px;
    color: #444;
    padding: 5px 0px 9px;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
}
.event_back a {
    padding-right: 16px;
    /*border-bottom: 1px solid #aaa;*/
    color: inherit;
}
.event_next a {
    padding-left: 16px;
    /*border-bottom: 1px solid #aaa;*/
    color: inherit;
}
/*20220917 kanai-mod-e*/
a.btn_event span {
    display: inline-block;
    vertical-align: middle;
    font-size: 9px;
    padding-top: 1.5px;
}
a.btn_event b {
    display: inline-block;
    vertical-align: middle;
}
.calendar_page_title {
    margin-top: 9px;
    font-size: 10px;
    line-height: 1.6;
}
/*20220912kanai-mod-s*/
.calendar_page_icon {
    width: 76px;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    display: inline-block;
    padding: 1.5% 0 2%;
}
/*20220912kanai-mod-e*/
/*kanai-mod-e*/
}
