/*スマホ最適化*/
@media only screen and (max-width: 767.9px) {
    div.wraper {
        padding-top: 0;
    }

    div.eyecatch--pop {
        padding-top: 48.5px;
        position: relative;
        z-index: 0;
    }

    div.eyecatch--pop img {}

    /* =========================================================
section.news--pop
========================================================= */
    section.news div.news__inner--pop {
        width: 347px;
        margin: 0 auto;
    }

    section.news div.news__inner--pop h2.news__title-main--pop {
        font-size: 32px;
        text-align: center;
        letter-spacing: -0.025em;
    }

    section.news div.news__inner--pop h3.news__title-sub--pop {
        font-size: 12px;
        text-align: center;
        margin-top: 6px;
    }

    section.news div.news__inner--pop ul.news__list--pop {
        width: 347px;
        height: auto;
        margin: 0 auto;
        display: grid;
        row-gap: 15px;
        column-gap: 0;
        grid-template-columns: repeat(1, 347px);
        margin-top: 26px;
    }

    /*kanai-mod-s*/
    section.news div.news__inner--pop ul.news__list--pop li.news__list-item--pop {
        width: 100%;
        border-style: solid;
        border-width: 1px;
    }

    section.news div.news__inner--pop ul.news__list--pop li.news__list-item--pop a {
        display: flex;
        height: 100px;
    }

    section.news div.news__inner--pop ul.news__list--pop li.news__list-item--pop a div.news_list-item-imgwrap {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section.news div.news__inner--pop ul.news__list--pop li.news__list-item--pop a img.news__list-item-img--pop {
        max-height: 100%;
        object-fit: contain;
    }

    /*kanai-mod-e*/
    section.news div.news__inner--pop ul.news__list--pop li.news__list-item--pop a div.news__list-item-content--pop {
        padding: 15px 15px 17px 12px;
        width: 245px;
        height: 100px;
    }

    section.news div.news__inner--pop ul.news__list--pop li.news__list-item--pop a div.news__list-item-content--pop h4.news__list-item-content-title--pop {
        font-size: 12px;

    }

    section.news div.news__inner--pop ul.news__list--pop li.news__list-item--pop a div.news__list-item-content--pop p.news__list-item-content-text--pop {
        font-size: 8px;
        line-height: 1.75;
        margin-top: 7px;
    }

    section.news div a.news__arcives-link--pop {
        width: 187px;
        height: 35px;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
        border-radius: 11.5px;
        border-width: 1px;
        border-style: solid;
    }

    section.news div a.news__arcives-link--pop span {
        padding-top: 0.5px;
        font-size: 11px;
    }

    /* =========================================================
section.shop-photo--pop
========================================================= */
    section.shop-photo {}

    section.shop-photo div.shop-photo__inner--pop {
        margin-top: 60px;
    }

    section.shop-photo div.shop-photo__inner--pop h2.shop-photo__title-main--pop {
        font-size: 32px;
        text-align: center;
        letter-spacing: -0.025em;
    }

    section.shop-photo div.shop-photo__inner--pop h3.shop-photo__title-sub--pop {
        font-size: 12px;
        text-align: center;
        margin-top: 6px;
    }

    section.shop-photo div.shop-photo__inner--pop .swiper-container-shop-photo-wrap {
        width: 360px;
        margin: 0 auto;
        position: relative;
    }

    section.shop-photo div.shop-photo__inner--pop .swiper-container-shop-photo-wrap .swiper-container-shop-photo {
        width: 317px;
        margin: 0 auto;
        overflow: hidden;
    }

    section.shop-photo div.shop-photo__inner--pop ul.shop-photo__list--pop {
        margin-top: 27px;
        /*20220923 kanai-add-s*/
        height: auto;
        /*20220923 kanai-add-e*/
    }

    section.shop-photo div.shop-photo__inner--pop ul.shop-photo__list--pop li.shop-photo__list-item--pop {
        height: 97.5px;
    }

    section.shop-photo div.shop-photo__inner--pop ul.shop-photo__list--pop li.shop-photo__list-item--pop img {
        height: 97.5px;
        object-fit: cover;
    }

    section.shop-photo div.shop-photo__inner--pop .swiper-container-shop-photo-wrap div.swiper-button-shop-photo-pop-prev {
        position: absolute;
        top: 65px;
        width: 17px;
        height: 28.5px;
        z-index: 1;
        left: 0;
    }

    section.shop-photo div.shop-photo__inner--pop .swiper-container-shop-photo-wrap div.swiper-button-shop-photo-pop-prev svg {
        width: 17px;
        height: 28.5px;
    }

    section.shop-photo div.shop-photo__inner--pop .swiper-container-shop-photo-wrap div.swiper-button-shop-photo-pop-next {
        position: absolute;
        top: 65px;
        width: 17px;
        height: 28.5px;
        z-index: 1;
        right: 0;
    }

    section.shop-photo div.shop-photo__inner--pop .swiper-container-shop-photo-wrap div.swiper-button-shop-photo-pop-next svg {
        width: 17px;
        height: 28.5px;
    }

    section.shop-photo div a.shop-photo__arcives-link--pop {
        width: 187px;
        height: 35px;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
        border-radius: 11.5px;
        border-width: 1px;
        border-style: solid;
    }

    section.shop-photo div a.shop-photo__arcives-link--pop span {
        font-size: 11px;
    }

    /*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★--stylish start                                           ★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★*/
    div.eyecatch--stylish {
        width: 100%;
        margin: 0 auto;
        /*kanai-mod-s*/
        padding-top: 48px;
        /*kanai-mod-e*/
        position: relative;
        z-index: 0;
    }

    div.eyecatch--stylish div.swiper-container {}

    div.eyecatch--stylish div.swiper-container div.swiper-wrapper {}

    div.eyecatch--stylish div.swiper-container div.swiper-wrapper div.swiper-slide {
        /*20220917 kanai-del-s*/
        /*  border-width: 1px;
    border-style: solid;
*/
        /*20220917 kanai-del-e*/
    }

    div.eyecatch--stylish div.swiper-container div.swiper-wrapper div.swiper-slide div.wrap {
        display: flex;
        justify-content: center;
        /*kanai-add-s*/
        height: 99.42vw;
        position: relative;
        /*kanai-add-e*/
    }

    /*kanai-add-s*/
    div.eyecatch--stylish div.swiper-container div.swiper-wrapper div.swiper-slide div.wrap a.eyecatch_wrap_link {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    /*kanai-add-e*/

    div.eyecatch--stylish div.swiper-container div.swiper-wrapper div.swiper-slide div.wrap img {
        /*kanai-add-s*/
        object-fit: contain;
        /*kanai-add-e*/
    }

    div.eyecatch--stylish div.swiper-container div.swiper-wrapper div.swiper-slide div.wrap .eyecatch_link_style {
        position: absolute;
        bottom: 10%;
        width: 30vw;
        height: 6vw;
        box-sizing: border-box;
        font-size: 2.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.eyecatch--stylish div.swiper-container div.swiper-wrapper div.swiper-slide div.wrap a span {
        /*kanai-del-s*/
        /*padding-bottom: 2.5%;*/
        /*kanai-del-e*/
    }

    div.eyecatch--stylish div.swiper-container div.swiper-wrapper div.swiper-slide-active div.wrap a {
        animation: slideFromRightBtn 0.5s ease 0s 1 normal;
    }

    div.eyecatch--stylish div.swiper-container div.swiper-wrapper div.swiper-slide div.wrap a:hover {
        opacity: 1;
    }

    @keyframes slideFromRightBtn {

        0%,
        65% {
            transform: translateY(50px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    /*=========================================================
    --luxury start（◎動画--luxury）
    =========================================================*/
    div.eyecatch--luxury {
        width: 100%;
        margin: 0 auto;
        padding-top: 48.5px;
        position: relative;
        z-index: 0;
        height: auto;
        display: flex;
        overflow: hidden;
    }

    div.eyecatch--luxury video {
        object-fit: cover;
        width: 100%;
    }

    .eyecatch--motion a.eyecatch_link_btn_style,
    .eyecatch--luxury a.eyecatch_link_btn_style {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        border-radius: 50px;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* =========================================================
    --motion start（ ■モーション）
    ========================================================= */
    .eyecatch--motion {
        padding-top: 48.5px;
        width: 100%;
    }

    .eyecatch--motion img,
    .eyecatch--luxury img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        z-index: 1;
        padding-top: 22px;
    }

    /* =========================================================
section.news--stylish
========================================================= */
    section.news div.news__inner--stylish {
        width: 347px;
        margin: 0 auto;
    }

    section.news div.news__inner--stylish h2.news__title-main--stylish {
        font-size: 32px;
        text-align: center;
        letter-spacing: -0.025em;
    }

    section.news div.news__inner--stylish h3.news__title-sub--stylish {
        font-size: 12px;
        text-align: center;
        margin-top: 7px;
    }

    section.news div.news__inner--stylish ul.news__list--stylish {
        width: 1065px;
        margin: 0 auto;
        overflow: hidden;
        display: grid;
        row-gap: 0px;
        column-gap: 15px;
        grid-template-columns: repeat(4, 255px);
        margin-top: 32px;
        /*20220923 kanai-add-s*/
        height: auto;
        /*20220923 kanai-add-e*/
    }

    section.news div.news__inner--stylish ul.news__list--stylish li.news__list-item--stylish {
        width: 100%;
        width: 255px !important;
        border-style: solid;
        border-width: 1px;
    }

    section.news div.news__inner--stylish ul.news__list--stylish li.news__list-item--stylish:nth-of-type(n + 5) {
        display: none;
    }

    section.news div.news__inner--stylish ul.news__list--stylish li.news__list-item--stylish a {
        display: block;
    }

    section.news div.news__inner--stylish ul.news__list--stylish li.news__list-item--stylish a div.news_list-item-imgwrap {
        height: 253px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section.news div.news__inner--stylish ul.news__list--stylish li.news__list-item--stylish a img.news__list-item-img--stylish {
        object-fit: contain;
        max-height: 100%;
    }

    /*kanai-mod-e*/

    section.news div.news__inner--stylish ul.news__list--stylish li.news__list-item--stylish a div.news__list-item-content--stylish {
        width: 100%;
        height: 51px;
        padding: 12px;
        position: relative;
    }

    section.news div.news__inner--stylish ul.news__list--stylish li.news__list-item--stylish a div.news__list-item-content--stylish h4.news__list-item-content-title--stylish {
        font-size: 12px;
    }

    section.news div.news__inner--stylish ul.news__list--stylish li.news__list-item--stylish a div.news__list-item-content--stylish p.news__list-item-content-text--stylish {
        display: none;
    }

    section.news div.news__inner--stylish ul.news__list--stylish li.news__list-item--stylish a div.news__list-item-content--stylish div.news__list-item-content-linkmark--stylish {
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: 0.7px;
        right: 0.7px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.news div.news__inner--stylish ul.news__list--stylish li.news__list-item--stylish a div.news__list-item-content--stylish div.news__list-item-content-linkmark--stylish svg {}

    section.news div a.news__arcives-link--stylish {
        width: 187px;
        height: 35px;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
        border-radius: 17px;
        border-width: 1px;
        border-style: solid;
    }

    section.news div a.news__arcives-link--stylish span {
        font-size: 11px;
        padding-bottom: 2px;
    }

    /* =========================================================
section.shop-photo--stylish
========================================================= */
    section.shop-photo div.shop-photo__inner--stylish {
        width: 347px;
        margin: 0 auto;
    }

    section.shop-photo div.shop-photo__inner--stylish h2.shop-photo__title-main--stylish {
        font-size: 32px;
        text-align: center;
        letter-spacing: -0.025em;
    }

    section.shop-photo div.shop-photo__inner--stylish h3.shop-photo__title-sub--stylish {
        font-size: 12px;
        text-align: center;
        margin-top: 7px;
    }

    section.shop-photo div.shop-photo__inner--stylish ul.shop-photo__list--stylish {
        /*20220923 kanai-del-s*/
        /*widows: 1062px;*/
        /*20220923 kanai-del-e*/
        display: grid;
        row-gap: 0px;
        column-gap: 15px;
        grid-template-columns: repeat(4, 214px);
        margin-top: 34px;
        /*20220923 kanai-add-s*/
        height: auto;
        /*20220923 kanai-add-e*/
    }

    /*20221220 kanai-mod-s*/
    section.shop-photo div.shop-photo__inner--stylish ul.shop-photo__list--stylish li.shop-photo__list-item--stylish {
        width: 214px !important;
        height: 214px;
    }

    section.shop-photo div.shop-photo__inner--stylish ul.shop-photo__list--stylish li.shop-photo__list-item--stylish img {
        height: 214px;
        object-fit: cover;
    }

    /*20221220 kanai-mod-e*/
    section.shop-photo div a.shop-photo__arcives-link--stylish {
        width: 187px;
        height: 35px;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
        border-radius: 17px;
        border-width: 1px;
        border-style: solid;
    }

    section.shop-photo div a.shop-photo__arcives-link--stylish span {
        font-size: 11px;
        padding-bottom: 2px;
    }

    /*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★--luxury start                                           ★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★*/
    /*20221003 kanai-add-s*/
    div.eyecatch--luxury {
        /* width: 100%;
        margin: 0 auto;
        padding-top: 48.5px;
        position: relative;
        z-index: 0; */
        /*20221003 kanai-mod-s*/
        /* height: 378.5px;
        display: flex;
        overflow: hidden; */
        /*20221003 kanai-mod-e*/
    }

    /* div.eyecatch--luxury video {
        object-fit: cover;
        width: 100%;
    } */

    /*20221003 kanai-add-e*/

    /* =========================================================
section.news--luxury
========================================================= */
    section.news div.news__inner--luxury {
        width: 347px;
        margin: 0 auto;
    }

    section.news div.news__inner--luxury h2.news__title-main--luxury {
        font-size: 32px;
        text-align: center;
        letter-spacing: -0.05em;
    }

    section.news div.news__inner--luxury h3.news__title-sub--luxury {
        font-size: 12px;
        text-align: center;
        margin-top: 4px;
    }

    section.news div.news__inner--luxury ul.news__list--luxury {
        width: 347px;
        margin: 0 auto;
        display: grid;
        row-gap: 10px;
        column-gap: 10px;
        grid-template-columns: repeat(2, 169px);
        margin-top: 27px;
        /*20220923 kanai-add-s*/
        height: auto;
        /*20220923 kanai-add-e*/
    }

    /*kanai-mod-s*/
    section.news div.news__inner--luxury ul.news__list--luxury li.news__list-item--luxury {
        width: 100%;
        height: 167px;
        border-style: solid;
        border-width: 1px;
    }

    section.news div.news__inner--luxury ul.news__list--luxury li.news__list-item--luxury:nth-of-type(n + 5) {
        display: none;
    }

    section.news div.news__inner--luxury ul.news__list--luxury li.news__list-item--luxury a {
        display: block;
    }

    section.news div.news__inner--luxury ul.news__list--luxury li.news__list-item--luxury a div.news_list-item-imgwrap {
        /*20220917 kanai-mod-s*/
        height: 165px;
        /*20220917 kanai-mod-e*/
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section.news div.news__inner--luxury ul.news__list--luxury li.news__list-item--luxury a img.news__list-item-img--luxury {
        object-fit: contain;
    }

    /*kanai-mod-e*/

    section.news div.news__inner--luxury ul.news__list--luxury li.news__list-item--luxury a div.news__list-item-content--luxury {
        width: 100%;
        height: 23px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: transparent !important;
    }

    section.news div.news__inner--luxury ul.news__list--luxury li.news__list-item--luxury a div.news__list-item-content--luxury h4.news__list-item-content-title--luxury {
        padding: 7.5px 7px 6.5px;
        font-size: 10px;
    }

    section.news div.news__inner--luxury ul.news__list--luxury li.news__list-item--luxury a div.news__list-item-content--luxury h4.news__list-item-content-title--luxury i {
        position: relative;
        z-index: 1;
    }

    section.news div.news__inner--luxury ul.news__list--luxury li.news__list-item--luxury a div.news__list-item-content--luxury h4.news__list-item-content-title--luxury:after {
        content: "";
        opacity: 0.7;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 0;
    }

    section.news div.news__inner--luxury ul.news__list--luxury li.news__list-item--luxury a div.news__list-item-content--luxury p.news__list-item-content-text--luxury {
        display: none;
    }

    section.news div.news__inner--luxury ul.news__list--luxury li.news__list-item--luxury a div.news__list-item-content--luxury div.news__list-item-content-linkmark--luxury {
        position: absolute;
        width: 23px;
        height: 23px;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.news div.news__inner--luxury ul.news__list--luxury li.news__list-item--luxury a div.news__list-item-content--luxury div.news__list-item-content-linkmark--luxury svg {}

    section.news div a.news__arcives-link--luxury {
        width: 187px;
        height: 35px;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
        border-width: 1px;
        border-style: solid;
    }

    section.news div a.news__arcives-link--luxury span {
        font-size: 11px;
        padding-bottom: 0.8px;
    }

    /* =========================================================
section.shop-photo--luxury
========================================================= */
    section.shop-photo {}

    section.shop-photo div.shop-photo__inner--luxury {
        width: 347px;
        margin: 0 auto;
        margin-top: 60px;
    }

    section.shop-photo div.shop-photo__inner--luxury h2.shop-photo__title-main--luxury {
        font-size: 32px;
        text-align: center;
        letter-spacing: -0.05em;
    }

    section.shop-photo div.shop-photo__inner--luxury h3.shop-photo__title-sub--luxury {
        font-size: 12px;
        text-align: center;
        margin-top: 5px;
    }

    section.shop-photo div.shop-photo__inner--luxury .swiper-container-shop-photo-wrap {
        position: relative;
        width: 347px;
        margin: 0 auto;
        overflow: hidden;
    }

    section.shop-photo div.shop-photo__inner--luxury .swiper-container-shop-photo-wrap .swiper-container-shop-photo {
        width: 1128px;
        margin: 0 auto;
        overflow: hidden;
    }

    section.shop-photo div.shop-photo__inner--luxury ul.shop-photo__list--luxury {
        height: auto;
        display: grid;
        row-gap: 10px;
        column-gap: 7px;
        grid-template-columns: repeat(2, 169.9px);
        margin-top: 34px;
    }

    /*20221220 kanai-mod-s */
    section.shop-photo div.shop-photo__inner--luxury ul.shop-photo__list--luxury li.shop-photo__list-item--luxury {
        width: 100%;
        height: 170px;
        border-style: solid;
        border-width: 1px;
    }

    section.shop-photo div.shop-photo__inner--luxury ul.shop-photo__list--luxury li.shop-photo__list-item--luxury:last-of-type {
        /*display: none;*/
    }

    section.shop-photo div.shop-photo__inner--luxury ul.shop-photo__list--luxury li.shop-photo__list-item--luxury img {
        width: 100%;
        height: 168px;
        object-fit: cover;
    }

    /*20221220 kanai-mod-e */
    section.shop-photo div a.shop-photo__arcives-link--luxury {
        width: 187px;
        height: 35px;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
        border-width: 1px;
        border-style: solid;
    }

    section.shop-photo div a.shop-photo__arcives-link--luxury span {
        font-size: 11px;
        padding-bottom: 0.8px;
    }

    /*20220912kanai-del-s*/
    /* =========================================================
.spot-light モーダル
========================================================= */
    /*20220912kanai-add-s*/
    /*.spl-title {
    display: none;
}
*/
    /*20220912kanai-add-e*/
    /*20220912kanai-del-e*/
    /*20221003 kanai-mod-s*/
    /* =========================================================
.eyecatch motion
========================================================= */
    /* .eyecatch--motion {
        height: 378.5px;
        padding-top: 48.5px;
        position: relative;
    } */

    .vegas-wrapper {}

    /* .eyecatch--motion img,
    .eyecatch--luxury img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        z-index: 1;
        padding-top: 22px;
    } */

    /*20221003 kanai-mod-e*/

}
