/*PCサイト*/
@media only screen and (min-width: 768px) {
/* =========================================================
section.privacy
========================================================= */
section.privacy {
	margin-top: 50px;
}
section.privacy div.privacy__inner {
	width: 1062px;
	margin: 0 auto;
}
section.privacy div.privacy__inner h2 {
	font-size: 46px;
	text-align: center;
	letter-spacing: -0.025em;
}
section.privacy div.privacy__inner h3 {
	font-size: 16px;
	text-align: center;
	margin-top: 9px;
}
section.privacy div.privacy__inner > p {
	font-size: 15.5px;
	font-weight: 800;
	line-height: 1.7;
	margin-top: 42px;
}
section.privacy div.privacy__inner > ol {
	margin-top: 45px;
}
section.privacy div.privacy__inner > ol > li {
	margin-bottom: 38px;
}
section.privacy div.privacy__inner > ol > li h4 {
	font-size: 15.5px;
	font-weight: 800;
	margin-bottom: 20px;
}
section.privacy div.privacy__inner > ol > li p {
	font-size: 13.5px;
	line-height: 2;
}
section.privacy div.privacy__inner > ol > li > ol {
	margin-top: 10px;
}
section.privacy div.privacy__inner > ol > li > ol > li {
	font-size: 13.5px;
	line-height: 2;
	text-indent: -1em;
	padding-left: 1em;
}
section.privacy div.privacy__inner > ol > li > ol > li h5 {
	font-size: 13.5px;
	line-height: 2;
}
section.privacy div.privacy__inner > ol > li > ol > li > ol {
	padding-left: 1em;
}
section.privacy div.privacy__inner > ol > li > ol > li ol > li {
	font-size: 13.5px;
	line-height: 2;
}
section.privacy div.privacy__inner > ol > li > ol > li ol > li h6 {
	font-size: 13.5px;
	line-height: 2;
}
section.privacy div.privacy__inner > ol > li > ol > li ol > li ul {
	padding-left: 1em;
}
section.privacy div.privacy__inner > ol > li > ol > li ol > li ul li {
	font-size: 13.5px;
	line-height: 2;
}
section.privacy div.privacy__inner > ol > li > dl {
	font-size: 0;
}
section.privacy div.privacy__inner > ol > li > dl:first-of-type {
	margin-top: 30px;
}
section.privacy div.privacy__inner > ol > li > dl dt {
	font-size: 13.5px;
	line-height: 2;
	display: inline-block;
}
section.privacy div.privacy__inner > ol > li > dl dd {
	font-size: 13.5px;
	line-height: 2;
	display: inline-block;
}


}
