/*PCサイト*/
@media only screen and (min-width: 897px) {
/* =========================================================
cont01
========================================================= */
section#cont01 {
	padding: 55px 0 90px;
}

section#cont01 div.inner {
	width: 1024px;
	margin: 0 auto;
}

section#cont01 div.inner > h2 {
	font-weight: 800;
	padding: 12px 15px 10px;
}

section#cont01 div.inner > h2 b {
	font-size: 28.5px;
	display: inline-block;
	vertical-align: middle;
}

section#cont01 div.inner > h2 small {
	font-size: 15.5px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-top: 1px;
}

section#cont01 div.inner ul li {
	border-bottom: 1px dotted #555;
	margin-top: 25px;
}

section#cont01 div.inner h3 {
	margin: 0 auto;
}

section#cont01 div.inner h3 a {
	font-size: 20px;
	font-weight: 800;
	line-height: 1.6;
}

section#cont01 div.inner p {
	font-size: 16.5px;
	line-height: 1.6;
	margin-top: 5px;
}

}
